main {
  > article {
    display: none;
    padding: $padding*3 $padding $padding;

    &:last-child{
      display: block;
    }

    &:target {
      display: block;

      ~ article {
        display: none;
      }
    }
  }
}