@import "variables";
@import "css-reset";
@import "mixins";
@import "keyframe";
@import "nav";
@import "pageswitch";

body {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  font-family: "helvetica";
  background: url("../images/cyanbg.jpg");
}