html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

input#nav {
  display: none; }
  input#nav:checked ~ label #navigation-list {
    -webkit-transform: translate3d(100%, 0px, 0px);
    -moz-transform: translate3d(100%, 0px, 0px);
    -o-transform: translate3d(100%, 0px, 0px);
    transform: translate3d(100%, 0px, 0px); }
  input#nav:checked ~ label .hamburger span {
    background: #666; }
    input#nav:checked ~ label .hamburger span:nth-child(1) {
      top: 9px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    input#nav:checked ~ label .hamburger span:nth-child(2) {
      opacity: 0;
      /*left: -60px;*/ }
    input#nav:checked ~ label .hamburger span:nth-child(3) {
      top: 9px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); }

.hamburger {
  display: block;
  width: 30px;
  height: 22px;
  position: fixed;
  left: 20px;
  top: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 10;
  cursor: pointer; }
  .hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
    .hamburger span:nth-child(1) {
      top: 0; }
    .hamburger span:nth-child(2) {
      top: 9px; }
    .hamburger span:nth-child(3) {
      top: 18px; }

#navigation-list {
  pointer-events: inherit;
  z-index: 1;
  position: fixed;
  background-color: white;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  top: 0;
  /*left: -202px;*/
  left: -100%;
  padding: 60px 0 20px;
  border-bottom-right-radius: 3px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #navigation-list li {
    line-height: 1.6; }
    #navigation-list li a {
      padding: 0 20px;
      display: block;
      font-size: 30px;
      opacity: 1;
      color: #0e100f;
      text-decoration: none; }
      #navigation-list li a:active {
        background-color: #fe4495;
        color: white; }

header {
  position: fixed;
  width: 100%;
  height: 62px;
  line-height: 62px;
  text-align: center;
  background-color: transparent;
  -moz-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out; }
  header img {
    opacity: 0;
    height: 40px;
    margin: 10px auto;
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out; }
  header.show {
    background-color: white; }
    header.show img {
      opacity: 1; }
    header.show ~ .hamburger span {
      background: #666; }
    header.show ~ #navigation-list {
      margin-top: 55px;
      padding-top: 0; }

main > article {
  display: none;
  padding: 60px 0 0; }
  main > article:last-child {
    display: block; }
  main > article:target {
    display: block; }
    main > article:target ~ article {
      display: none; }

#home .logo {
  display: block;
  margin: 20% auto; }

body {
  position: relative;
  background: url("../images/cyanbg.jpg");
  font-family: "Courier New";
  font-size: 16px;
  line-height: 25px;
  box-sizing: border-box;
  color: #333; }

b {
  font-weight: bold; }

.text-center {
  text-align: center; }

.phone {
  text-decoration: none;
  color: #333; }

.card {
  width: 100%;
  background-color: white;
  margin: 20px 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .card h2 {
    padding: 5px 0;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    text-align: center;
    border-top: 1px solid #0e100f;
    border-bottom: 1px solid #0e100f;
    margin-bottom: 20px; }

.responsively-lazy:not(img) {
  position: relative;
  height: 0; }

.responsively-lazy:not(img) img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

img.responsively-lazy {
  width: 100%; }
