html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
  .clearfix:after {
    clear: both; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

input#nav {
  display: none; }
  input#nav:checked ~ label #navigation-list {
    -webkit-transform: translate3d(100%, 0px, 0px);
    -moz-transform: translate3d(100%, 0px, 0px);
    -o-transform: translate3d(100%, 0px, 0px);
    transform: translate3d(100%, 0px, 0px); }
  input#nav:checked ~ label .hamburger span {
    background: #666; }
    input#nav:checked ~ label .hamburger span:nth-child(1) {
      top: 9px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    input#nav:checked ~ label .hamburger span:nth-child(2) {
      opacity: 0;
      /*left: -60px;*/ }
    input#nav:checked ~ label .hamburger span:nth-child(3) {
      top: 9px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); }

.hamburger {
  display: block;
  width: 30px;
  height: 22px;
  position: fixed;
  left: 20px;
  top: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 10;
  cursor: pointer; }
  .hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
    .hamburger span:nth-child(1) {
      top: 0; }
    .hamburger span:nth-child(2) {
      top: 9px; }
    .hamburger span:nth-child(3) {
      top: 18px; }

#navigation-list {
  pointer-events: inherit;
  z-index: 1;
  position: fixed;
  background-color: white;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  top: 0;
  /*left: -202px;*/
  left: -100%;
  padding: 60px 0 20px;
  border-bottom-right-radius: 3px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #navigation-list li {
    line-height: 1.6; }
    #navigation-list li a {
      padding: 0 20px;
      display: block;
      font-size: 30px;
      opacity: 1;
      color: #0e100f;
      text-decoration: none; }
      #navigation-list li a:active {
        background-color: #fe4495;
        color: white; }

header {
  position: fixed;
  width: 100%;
  height: 62px;
  line-height: 62px;
  text-align: center;
  background-color: transparent;
  -moz-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  z-index: 1; }
  @media (min-width: 1024px) {
    header {
      display: none; } }
  header ~ .header-logo img {
    display: inline-block;
    width: 100%;
    position: fixed;
    opacity: 0;
    height: 40px;
    margin: 10px auto;
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    z-index: 10; }
  header.show {
    background-color: white; }
    header.show ~ .header-logo img {
      opacity: 1; }
      @media (min-width: 1024px) {
        header.show ~ .header-logo img {
          display: none; } }
    header.show ~ .hamburger span {
      background: #666; }

main > article {
  display: none;
  padding: 60px 0 0; }
  main > article:last-child {
    display: block; }
  main > article:target {
    display: block; }
    main > article:target ~ article {
      display: none; }

#home .logo {
  display: block;
  margin: 20% auto; }
  @media (min-width: 1024px) {
    #home .logo {
      margin: 2% auto 5% auto; } }

@media (min-width: 1024px) {
  #home .card {
    padding: 20px 35%; } }

#home ul li a {
  padding: 20px; }

#home ul li.public-transport {
  float: left;
  display: block;
  width: 50%; }
  #home ul li.public-transport span {
    width: 30px;
    height: 30px;
    display: inline-block; }
  #home ul li.public-transport.bus span {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800" width="800" height="800"><path fill="#993399" d="M800.005 400.004c0-220.59-179.437-400-400.006-400-220.58 0-400 179.412-400 400 0 220.563 179.42 400 400 400 220.568 0 400.005-179.437 400.005-400"/><path fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" d="M263.264 458.252c0-36.828-27.51-60.522-60.943-65.603 30.464-11.835 50.79-30.034 50.79-63.477-.43-51.21-38.524-69.41-84.655-69.41H78.307v282.3h96.074c50.378 0 88.884-32.16 88.884-83.81m-63.484-122.31c0 25.822-16.5 40.635-41.91 40.635h-26.234v-76.62h30.05c24.124 0 38.094 12.274 38.094 35.985zm8.89 121.035c0 26.25-13.98 44.46-41.9 44.46h-35.132V416.36h36.397c24.123 0 40.634 16.072 40.634 40.618z"/><path fill="#FFF" d="M517.146 440.062v-180.3h-53.313V436.67c0 35.14-9.32 67.31-47.835 67.31-38.09 0-47.83-32.17-47.83-67.31V259.763h-53.322v180.3c0 66.86 32.59 106.65 101.153 106.65 66.437 0 101.146-39.79 101.146-106.65M735.58 459.105c0-96.075-112.998-63.476-112.998-125.703 0-31.307 21.152-38.094 48.23-38.094 16.09 0 31.765 2.54 46.15 8.888l10.575-41.048c-19.466-5.082-39.36-8.035-59.67-8.035-51.642 0-99.046 24.968-99.046 82.087 0 98.21 111.313 61.805 111.313 125.702 0 34.7-27.51 44.02-56.707 44.02-17.777 0-37.67-3.384-53.743-11.007l-.862 42.762c19.897 6.34 41.067 8.036 62.22 8.036 54.174 0 104.54-27.087 104.54-87.608"/></svg>');
    background-size: cover; }
  #home ul li.public-transport.subway span {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 800 800" width="800" height="800"><defs><path id="a" d="M0 0v800h800V0"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" fill="#0068B0" d="M800 800V0H0v800"/><g><defs><path id="c" d="M0 0v800h800V0"/></defs><clipPath id="d"><use xlink:href="#c" overflow="visible"/></clipPath><path clip-path="url(#d)" fill="#FFF" d="M617.5 473.62V113.07H480.38v352.08c0 67.68-19.46 120.17-80.37 120.17-64.33 0-80.41-51.59-80.41-120.17V113.07H182.47v360.55c0 136.28 80.4 213.28 217.53 213.28 133.73.01 217.5-77 217.5-213.28"/></g></svg>');
    background-size: cover; }

body {
  position: relative;
  background: url("../images/cyanbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Courier New";
  font-size: 16px;
  line-height: 25px;
  box-sizing: border-box;
  color: #333;
  background-attachment: fixed; }

b {
  font-weight: bold; }

.text-center {
  text-align: center; }

a[href^="tel"] {
  color: #fe4495; }

footer {
  position: relative; }
  @media (min-width: 1024px) {
    footer {
      width: 30%;
      margin: 0 auto; } }
  footer a {
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    text-decoration: none; }
  footer .facebook {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 0;
    width: 30px;
    height: 30px;
    background: url('data:image/svg+xml;utf8,<svg version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 369.6 747.2"><path fill="#FFF" d="M301.3 113.8H63.9c-8.1 0-14.7 6.6-14.7 14.7v237.4c0 8.1 6.6 14.7 14.7 14.7h127.8V277.3h-34.8V237h34.8v-29.7c0-34.5 21.1-53.2 51.8-53.2 14.7 0 27.4 1.1 31.1 1.6v36h-21.3c-16.7 0-20 7.9-20 19.6V237h39.9l-5.2 40.3h-34.7v103.4h68c8.1 0 14.7-6.6 14.7-14.7V128.5c0-8.1-6.6-14.7-14.7-14.7z"/></svg>');
    background-size: cover; }

.card {
  width: 100%;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .card h2 {
    padding: 5px 0;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    text-align: center;
    border-top: 1px solid #0e100f;
    border-bottom: 1px solid #0e100f;
    margin-bottom: 20px; }

.responsively-lazy:not(img) {
  position: relative;
  height: 0; }

.responsively-lazy:not(img) img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

img.responsively-lazy {
  width: 100%; }
